* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #1d1d32;
  color: white;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  flex-direction: column;
  flex-wrap: wrap;
}

.componentes {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 flex-wrap: wrap;
}